<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

  </head>

  <body class="flex-column">

    <div class="untitled-page root" style="--src:url(/assets/dd08f25224e9bf6cb3a76e6c372dc8e5.png)">
      <div class="flex_col">
        <div class="text">CÔNG TY TNHH KIÊN NAM</div>
        <h1 class="hero_title">Vòng quay</h1>
      </div>
      <div class="wrapper"><img class="wrapper1" src="/assets/427ddff977dab296c5d8e2b5ff9c956b.png" alt="alt text" /></div>
      <h1 class="big_title">MÃ SỐ DỰ THƯỞNG</h1>
    </div>

  </body>

</html>
